; tag-version-prefix и message должны быть добавлены в том виде, в котором  они приведены здесь
; Остальные данные (например, авторизация и т.д.) добавляются при необходимости в зависимости от проектов

; префикс к тегам
; убирает дефолтное добавление v.
tag-version-prefix=""
; автоматически добавляемое сообщение при коммите
; используется при вызове команд patch, minor, major
message="chore(release): version %s"