{
    "extends": ["stylelint-config-standard-scss"],
    "rules": {
        "declaration-property-value-no-unknown": true,
        "media-feature-range-notation": "prefix",
        "max-nesting-depth": 7,
        "no-invalid-double-slash-comments": true,
        "comment-no-empty": true,
        "comment-whitespace-inside": "always",
        "string-no-newline": true,
        "value-keyword-case": "lower",
        "property-no-unknown": true,
        "declaration-block-no-redundant-longhand-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-single-line-max-declarations": 1,
        "block-no-empty": true,
        "selector-pseudo-class-no-unknown": true,
        "selector-pseudo-element-colon-notation": "double",
        "selector-pseudo-element-no-unknown": true,
        "selector-type-case": "lower",
        "selector-type-no-unknown": true
    }
}
