# Адрес сервера. Путь, на который идут запросы
PROXY_URL=http://localhost:3000
# Базовый путь API
BASE_API_URL=/api/
# Признак поддержки PWA-режима
PWA_MODE=false
# Наименование выходного файла севрис-воркера. Используется как в системе собрки,
# так и при регистрации sw-сервиса.
SW_FILE_NAME=service-worker
# Регистрация и обработка файла сервис-воркера в development-режиме
SW_DEVELOPMENT_MODE_ENABLE=false
# Уровень логгирования
# Поддерживаются следующие уровни логгирования: error (0), warn (1), info (2), debug (3).
LOGLEVEL=3
