@import '~normalize.css/normalize';
@import 'mixins';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.link {
    color: #fff;
    font-size: 20px;
    display: block;
    text-align: center;
}
